<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PictureFromLatexFormula.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PictureFromLatexFormula.Properties.Settings>
            <setting name="UserFunctions" serializeAs="String">
                <value>\frac{}{}	\frac{}{}	3
\text{}	\text{}	1
\sqrt{}	\sqrt{}	1
_{}	_{}	1
^{}	^{}	1
\,	\,	0
\:	\:	0
\;	\;	0
\!	\!	0
\left(\right)	\left(\right)	7
{\color{red}}	{\color{red}}	1</value>
            </setting>
        </PictureFromLatexFormula.Properties.Settings>
    </userSettings>
</configuration>